header{
    width: 100%;
    height: 60px;
    background-color: white;
}

header .banner{
    width: 100%;
    height: 100%;
}

header .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .menu1{
    width: 100%;
    height: 68px;
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .menu1 .logo{
    height: 100%;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

header .menu1 .search{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

header .menu1 .search form{
    height: 100%;
}
header .menu1 .search form label{
    height: 100%;
    display: flex;
    align-items: center;
    
    position: relative;
}
header .menu1 .search form label svg{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
header .menu1 .search form label input{
    width: 600px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding-right: 56px;
    background-color: rgb(240, 240, 241);
}

header .menu1 .search form label img{
    display: none;
}

header .menu1 .buttons{
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;    
}
header .menu1 .buttons a:first-child{
    border:1px solid #a1a3a8;
    border-radius:8px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
    color: black;
    padding: 0 16px;
    
}

header .menu1 .buttons a:last-child{
    display: flex;
    height: 100%;
    align-items: center;
}

header .menu2{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

header .menu2 .menuSelf {
    height: 100%;
}
header .menu2 .menuSelf .menu__list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: aqua;
  
}

header .menu2 .menuSelf .menu__list .menu__item{
    height: 100%;
    font-size: 14px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    position: relative;
}
header .menu2 .menuSelf .menu__list .menu__item::after {
    content: "";
    display: block; 
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 300ms linear;
    transform-origin: left;
}
header .menu2 .menuSelf .menu__list .menu__item:hover::after {
    transform: scaleX(1);
}
header .menu2 .menuSelf .menu__list .menu__item .menu__link{
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

header .menu2 .city{
    background-color: aqua;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}
header .menu2 .menuSelf .menu__list .menu__item:first-child .menu3{
    width: 150%;
    height: calc(95dvh-168px);
    position: absolute;
    top: 100%;
    right: 0;
}
header .menu2 .menuSelf .menu__list .menu__item:first-child .menu3 .menu3__nav{
    width: 100%;
    height: 100%;
}
header .menu2 .menuSelf .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list{
    width: 100%;
    height: 100%;
    list-style: none;
}

header .menu2 .menuSelf .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item{
    width: 100%;
    height: 50px;
    
}
header .menu2 .menuSelf .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu3__link{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-right: 16px;
    text-decoration: none;
    color: black;
    background-color: #f1f1f1;
}

header .menu2 .menuSelf .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu3__link:hover{
    background-color: white;
    color: red;
}